assignment10/assignment10WSDL/WebContent/WEB-INF/xsd/Course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jw.nju.edu.cn/schema" targetNamespace="http://jw.nju.edu.cn/schema" elementFormDefault="qualified">
	
	<complexType name="课程">
		<sequence>
			<element name="课程编号" type="tns:课程编号"/>
			<element name="课程讲师" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="课程编号">
		<restriction base="string">
			<length value="6"/>
		</restriction>
	</simpleType>
</schema>
