assignment11/StudentManage/WebContent/wsdl/studentManagementSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:nju="http://www.nju.edu.cn/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stu="http://jw.nju.edu.cn/schema" xmlns:tns="http://jw.nju.edu.cn/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="studentManagement" targetNamespace="http://jw.nju.edu.cn/wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://jw.nju.edu.cn/wsdl">
      <!-- import 必要xsd -->
		<xsd:import namespace="http://www.nju.edu.cn/schema" schemaLocation="PersonInfo.xsd"/>
		<!-- 声明需要的变量 -->
		<xsd:element name="updateInfo" type="nju:updateInformation"/>
		<xsd:element name="updateSuccess" type="nju:个人信息类型"/>
		<xsd:element name="noExistIDError" type="xsd:string"/>
		<xsd:element name="invalidUpdateError" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="updateInfoRequest">
    <wsdl:part element="tns:updateInfo" name="updateInfo"/>
  </wsdl:message>
  <wsdl:message name="updateInfoResponse">
    <wsdl:part element="tns:updateSuccess" name="updateSuccess"/>
  </wsdl:message>
  
  <wsdl:message name="noExistIDFault">
		<wsdl:documentation>学号不存在</wsdl:documentation>
		<wsdl:part element="tns:noExistIDError" name="invalidDataFault"/>
	</wsdl:message>
	<wsdl:message name="invalidUpdateFault">
		<wsdl:documentation>修改信息错误</wsdl:documentation>
		<wsdl:part element="tns:invalidUpdateError" name="invalidDataFault"/>
	</wsdl:message>
  
  <wsdl:portType name="studentManagementPortType">
    <wsdl:operation name="studentManagement">
    <wsdl:documentation>
    	This operation returns information of a student if update operation succeed.
    </wsdl:documentation>
      <wsdl:input message="tns:updateInfoRequest"/>
      <wsdl:output message="tns:updateInfoResponse"/>
      <wsdl:fault message="tns:noExistIDFault" name="noExistIDFault"/>
	  <wsdl:fault message="tns:invalidUpdateFault" name="invlidUpdateFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="studentManagementSOAP" type="tns:studentManagementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="studentManagement">
      <soap:operation soapAction="http://jw.nju.edu.cn/wsdl/studentManagement"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="studentManagementPortType">
    <wsdl:port binding="tns:studentManagementSOAP" name="studentManagementSOAP">
      <soap:address location="http://localhost:8080/ManagementWSDL/services/studentManagementSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
