assignment11/ScoreManage/WebContent/config/StudentList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema"
	xmlns:tns="http://jw.nju.edu.cn/schema" elementFormDefault="qualified">

	<include schemaLocation="Student.xsd" />
	<element name="学生信息列表" type="tns:学生信息列表类型"></element>

	<complexType name="学生信息列表类型">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="学生信息" type="tns:学生信息类型"></element>
		</sequence>
	</complexType>

</schema>